/*Darko Bunichttp://www.redips.net/Jun, 2011.*/
body {
    font-family: arial;
    margin: 0px;
    font-size: 13px;
    font-weight: normal;
}

/* add bottom margin between tables *//* drag container */
#redips-drag {
    margin: auto;
}

/* set border for images inside DRAG region - exclude image margin inheritance *//* my WordPress theme had some funny margin settings */
#redips-drag img {
    margin: 1px;
}

/* drag objects (DIV inside table cells) */
.redips-drag {
    cursor: move;
    margin: auto;
    margin-bottom: 1px;
    margin-top: 1px;
    z-index: 10;
}

/* drag objects border for the first table */
.t1 {
    border: 2px solid rgba(73, 155, 51, 0)
}

/* drag object border for the second table */
.t2 {
    border: 2px solid SteelBlue;
}

/* cloned objects - third table */
.t3 {
    border: 2px solid #FF8A58;
}

/* allow / deny access to cells marked with 'mark' class name */
.redips-mark {
    color: white;
    background-color: #9B9EA2;
}

/* trash cell */
.redips-trash {
    color: white;
    background-color: #2D4B7A;
}

/* tables *//* input elements in dragging container */
div#redips-drag input {
    cursor: auto;
}

/* height for input text in DIV element */
div#drag #d13 input {
    height: 13px;
}

/* height for dropdown menu in DIV element */
div#drag #d5 select {
    height: 20px;
}

/* table cells *//* "Click" button */
.button {
    margin-bottom: 2px;
    background-color: #6A93D4;
    color: white;
    border-width: 1px;
    width: 44px;
    padding: 0px;
}

/* toggle checkboxes at the bottom */
.checkbox {
    margin-left: 13px;
    margin-right: 14px;
    width: 13px; /* needed for IE ?! */
}

/* message cell */
.message_line {
    padding-left: 10px;
    margin-bottom: 3px;
    font-size: 10pt;
    color: #888;
}

.lright {
    float: right;
}

.marg30 {
    margin-top: 10px;
    text-align: right
}

.wnm {
    background-color: #0000ff;
    color: #fff;
}

.kristina {
    background-color: #ff99ff;
    padding: 5px;
    text-align: center;
}

.lilli {
    background-color: #ffc000;
    padding: 5px;
    text-align: center;
}

.alexander {
    background-color: #538dd5;
    padding: 5px;
    text-align: center;
}

.maria {
    background-color: #76933c;
    padding: 5px;
    text-align: center;
}

.cornelia {
    background-color: #dce6f1;
    padding: 5px;
    text-align: center;
}

.laura {
    background-color: #ffccff;
    padding: 5px;
    text-align: center;
}

.janinemengeler {
    background-color: #ff0000;
    padding: 5px;
    text-align: center;
}
.cl{
    padding: 5px;
    text-align: center;
}
.angela {
    background-color: #fcd5b4;
    padding: 5px;
    text-align: center;
}

.assi {
    background-color: #92d050;
    padding: 5px;
    text-align: center;
}

.gn {
    background-color: #fff;
    padding: 5px;
    text-align: center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn {
    border: 1px solid #afafaf;
    line-height: 18px;
    padding: 4px 12px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    margin: 10px;
    background: transparent none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar { /* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
}

.btn-block {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
}

td{
    width: 10px !important;
}